body{
    background-color: black;
    color: white;
}

#HomeGrid {
    display: grid;
  


}

.section1{
    border: 2px solid white;
    height: 87px;

}

.section2{
    border: 2px solid white;
    height: 603px;
}


    
}
.section3{
    border: 2px solid white;
    height: 87px
    
}